.NavBar{
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 1em;

}
.NavBar__Lista{
    display: flex;
    list-style: none;
    gap: .5rem;
    display: none;
}

.NavBar__CampoDeBusca{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.11);
    border-radius: 20px;
    width: 200px;
    height: 20px;
}

#search{
    border: none;
    background-color: transparent;
    padding-left: 5px;
    border-radius: 10px;
}

#search:focus{
    outline:none;
}

.NavBar__Icons{
    display: flex;
    column-gap: 10px;
}

@media (min-width:1200px){

    .NavBar{        
        height: 70px;        
        display: flex;
        justify-content: space-around;
        border-bottom: 0.5px solid #73737373;
        align-items: center;
        padding: 1em;    
    }

    .NavBar__Logo{
        width: 157px;
        height: 62px;
    }

    .NavBar__Lista{
        display: flex;
        list-style: none;
        gap: .5rem;        
    }

    .NavBar__Lista--Seção{
        margin-left: 56px;
        font-size: 24px;
    }

    .NavBar__CampoDeBusca{
        border: 1px solid rgba(0,0,0,0.11);
        border-radius: 20px;
        width: 385px;
        height: 40px;
        font-size: 1.4rem;
    }   

    #search{
        width: 90%;
        height: 100%;
        font-size: 1.2rem;
    }

    .NavBar__Icons{        
        font-size: 1.7rem;
        column-gap: 20px;
    }
}
    
